/* 
    Document   : common
    Created on : 21.05.2013, 15:27:51
    Author     : andreev_a
    Description: Собственные стили помимо Bootstrap
        Purpose of the stylesheet follows.
*/

/*MENU-TOP START*/
#nav-GNB {
	padding-top: 57px;
}
#nav-GNB li.gnb {
	float: left;
	position: relative;
}
#nav-GNB a.gnb {
	display: inline-block;
	position: relative;
	z-index: 300;
	height: 33px;
	margin: 0px 20px 0px 19px;
	font-weight: bold;
	font-family: 'Arial';
	color: #043476;
	overflow: hidden;
}
	a.gnb div {
		height: 33px;
		float: left;
		line-height: 37px;
		text-decoration: underline;
	}

#nav-GNB a.on {
	margin: 0px -2px 0px -2px;
	color: #000000;
	border-radius: 5px 5px 0px 0px;
	-webkit-box-shadow: 0 4px 0 0 #FFFFFF, 0 0 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 4px 0 0 #FFFFFF, 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 0 0 #FFFFFF, 0 0 4px rgba(0, 0, 0, 0.2);
}
	
	a.on div.top-menu-btn-left {
		background: url('../images/top-menu-btn-left.png') no-repeat scroll 0px 0px #ffffff;
		width: 21px;
	}
	a.on div.top-menu-btn-middle {
		background: url('../images/top-menu-btn-middle.png') repeat-x scroll 0px 0px #ffffff;
		text-decoration: none;
	}
	a.on div.top-menu-btn-right {
		background: url('../images/top-menu-btn-right.png') no-repeat scroll 0px 0px #ffffff;
		width: 22px;
	}

#nav-GNB .snb {
	display: none;
	z-index: 200;
	position: absolute;
	margin: 0px 0px 0px -2px;
	top: 34px;
	/*left: -9px;
	width: 230px;*/
	font-size: 11px;
	line-height: 16px;
	background-color: #FFFFFF;
	border-color: #000000;
	border-radius: 0px 5px 5px 5px;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, .2);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, .2);
}
	#nav-GNB .snb ul {
		width: 155px;
		margin: -2px 0px 0px 0px;
		padding: 12px 40px 0px 0px;
	}
		#nav-GNB .snb li {
			width: 150px;
			padding: 0px 0px 15px 15px;
			font-size: 13px;
		}
#nav-GNB .snb a {
	display: inline-block;
	width: 100%;
	color: #043476;
	text-decoration: underline;
}
#nav-GNB .snb a:hover {color:#0f5699;}
/*MENU-TOP END*/

.wrap-header .brands {
	padding: 130px 0px 0px 0px;
}
.wrap-header .brands div {
	height: 49px;
	float: left;
	margin: 0px 28px 0px 0px;
}
.contacts .slide .logo {
	height: 49px;
	margin: 70px 10px 0px 25px;
	float: left;
}
.wrap-header .brands div.last {
	margin: 0px 0px 0px 0px;
}
.wrap-header .brands #cadillac, .contacts .slide#cadillac .logo {
	background: url('../images/brands_sprite.png') no-repeat scroll -12px 0px transparent;
	width: 47px;
}
.wrap-header .brands #opel, .contacts .slide#opel .logo {
	background: url('../images/brands_sprite.png') no-repeat scroll -86px 0px transparent;
	width: 56px;
}
.wrap-header .brands #jaguar, .contacts .slide#jaguar .logo {
	background: url('../images/brands_sprite.png') no-repeat scroll -170px 0px transparent;
	width: 72px;
}
.wrap-header .brands #land-rover, .contacts .slide#lr .logo {
	background: url('../images/brands_sprite.png') no-repeat scroll -268px 0px transparent;
	width: 64px;
}
.wrap-header .brands #vw, .contacts .slide#vw .logo {
	background: url('../images/brands_sprite.png') no-repeat scroll -360px 0px transparent;
	width: 47px;
}
.wrap-header .brands #skoda, .contacts .slide#skoda .logo {
	background: url('../images/brands_sprite.png') no-repeat scroll -432px 0px transparent;
	width: 47px;
}
.wrap-header .brands #peugeot, .contacts .slide#peugeot .logo {
	background: url('../images/brands_sprite.png') no-repeat scroll -512px 0px transparent;
	width: 40px;
}
.wrap-header .brands #citroen, .contacts .slide#citroen .logo {
	background: url('../images/brands_sprite.png') no-repeat scroll -578px 0px transparent;
	width: 42px;
}
.wrap-header .brands #honda, .contacts .slide#honda .logo {
	background: url('../images/brands_sprite.png') no-repeat scroll -649px 0px transparent;
	width: 46px;
}
.wrap-header .brands #lada, .contacts .slide#lada .logo {
	background: url('../images/brands_sprite.png') no-repeat scroll -723px 0px transparent;
	width: 64px;
}
.wrap-header .brands #hyundai, .contacts .slide#hyundai .logo {
	background: url('../images/brands_sprite.png') no-repeat scroll -818px 0px transparent;
	width: 53px;
}
.wrap-header .brands #chevrolet, .contacts .slide#chevrolet .logo {
	background: url('../images/brands_sprite.png') no-repeat scroll -903px 0px transparent;
	width: 69px;
}

/* Slider navigation */
#nav {
	margin: -40px auto 0px auto;
	position: relative;
	width: 960px;
	z-index: 100;
	height: 40px;
}
#nav a {
	color: transparent;
	background: url("../images/slider-tmb-sprite.png") no-repeat scroll 0 0 transparent;
	width: 21px;
	height: 21px;
	display: block;
	float: left;
	font-size: 0;
	margin: 0px 5px 0px 0px;
}
#nav a.activeSlide {
	background-position: 0px -21px;
}